<!-- 全局js -->
<script src="/static/H/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/H/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/H/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/H/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/H/js/plugins/layer/layer.min.js"></script>



<!-- 自定义js -->
<script src="/static/H/js/hplus.js?v=4.1.0"></script>
<script type="text/javascript" src="/static/H/js/contabs.js"></script>

<!-- 第三方插件 -->
<script src="/static/H/js/plugins/pace/pace.min.js"></script>


<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
<!--统计代码，可删除-->


</html>
